doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Tail-W
		link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet",href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css")
		link(rel="stylesheet" href="css/resources/style.css")
		script(src="https://code.getmdl.io/1.1.3/material.min.js")
	body
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
			main.mdl-layout__content
				.mdl-grid
					.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
						.mdl-card.mdl-shadow--2dp
							.mdl-card__supporting-text
								p aaaaaa

